/* Styling */

 /* whole body */
        body{
            margin: 0;
            padding: 0;
            border:0;
            box-sizing: border-box;
        }

         /* Text on header */
        .header{
            position: relative;
        }
        .logoname{
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-style: italic;
            font-size: 80px;
            opacity: 0.6;
            color: rgb(7, 0, 0);
        }

         /* Project section */
        .First, .Second{
            padding: auto;
            margin-top: auto;
            box-sizing: border-box;
            text-align: center;
            position: relative;
        }

         /* Text on photo grid */
        .photo{
            position: relative;
            display: inline-block;
            box-sizing: border-box;
            padding: 1%;
        }
        .grid{
            position: absolute;
            padding: auto;
            color: white;
            background-color: black;
            width: 125px;
            height: 25px;
            z-index: 1;
            top: 8%;
            left: 8%;
        }
        .img1, .img4{
            width: 250px;
            height: 250px;
            border-top-left-radius: 30px;
            border-bottom-right-radius: 30px;
        }
        .img2, .img3{
            width: 250px;
            height: 250px;
            border-top-right-radius: 30px;
            border-bottom-left-radius: 30px;
        }
        img{
            width: 250px;
            height: 200px;
        }
 
        /* About grid */
        .about{
            padding:auto;
            margin-top: auto;
            box-sizing: border-box;
            display:inline-block; 
        }
        .person{
            width: 250px;
            height: auto;
            padding: 10px;
            margin-top: auto;
            box-sizing: border-box;
            display:inline-block; 
        }
        .button{
            background-color: rgb(232, 209, 209); 
            border-style:none; 
            cursor:pointer; 
            display: inline-block;
            height: 40px;
            width: 245px;
            font-size: 17px;
        }
        .button a:hover{
            background-color: rgb(243, 48, 48);
        }
        .submit{
            background-color: black; 
            color: white;
            border-style:none; 
            cursor:pointer; 
            height: 40px;
            width: 245px;
            font-size: 17px; 
            margin-left: -900px;
        }
        /* Navbar */
        .navbar{
            background-color: rgb(117, 240, 234);
            opacity: 0.6;
            font-size: x-large;
            height: 35px;
            text-align: center;
            text-size-adjust: 100%;
            position: fixed;
            z-index: 3;
            box-sizing: border-box;
            width: 100%;
        }